services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    labels:
      - "logging=true"

  react-app-prod:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8080:80"